torch
numpy
matplotlib
accelerate
transformers
sentencepiece
datasets
langchain
langchain-community
torchrl
llama-index
bertviz
ipykernel
wikipedia
langchain_nvidia_ai_endpoints==0.3.9
python-dotenv==1.1.0